body{
    background-image: url("phoneBookBackground.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: cursive;
   
}
h4{
    position: sticky;
    top: 15px;
    background-color:grey;
   
}
h1{
    text-align: center;
}
/*Phone Book List*/
#phoneBookList{
    background-color:white;
    width: 60vh;
    margin: auto;
    height:85vh;
    overflow-x: scroll;
    padding-left: 10px;
    opacity: 85%;
   }
.contact:hover{
    background-color: #f4f9f9;
    cursor: pointer;
}
.contact:hover .phoneIcon{
    display: inline-block;
    margin-right: 20px;
}

.phoneIcon{
    float: right;
    display: none;
}
/*scroll bar*/
::-webkit-scrollbar {
    width: 5px;
}
  ::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 10px;
  }
  .contactName{
      padding: 3px;
      margin-left: 15px;
      display: inline-block;
  }
  .contact{
      margin-top: 15px;
  }
  .phoneIcon::before{
      content: "\1F4DE";
      color:black;
    }